body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: rgb(0, 47, 60);
    background-image:
        radial-gradient(circle,
            rgb(62, 53, 100),
            rgb(35, 20, 39));
}

.logo {
    position: absolute;
    top: 7px;
    left: 15px;
    opacity: 90%;
    width: 10%;
}

/******** FOOTER ELEMENTS *****/
footer {
    bottom: 0;
    left: 0;
    position: static;
    right: 0;
    height: 10px;
}

.githublogo {
    display: inline;
    margin: 0;
    padding: 0;
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    position: absolute;
    top: 7px;
    left: 15px;
    width: 50%;
}

.list {
    margin: 0;
    padding: 0;
    fill: #0096a1;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    display: inline;
}

.footer-stf {
    /* background: #5c6779; */
    background: radial-gradient(circle,
            rgb(54, 46, 87),
            rgb(27, 15, 30));
    overflow: hidden;
    padding-bottom: 4px;
    text-align: center;
}

.nested-list1 {
    color: #bebebe;
    font-weight: lighter;
}

.footerlink {
    border-bottom: 0px solid rgba(0, 0, 0, 0.95);
    border-radius: 4px;
    box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0), 0 6px 8px rgba(0, 0, 0, 0), 0 24px 24px rgba(0, 0, 0, 0), 0 36px 36px rgba(0, 0, 0, 0), 0 64px 64px rgba(0, 0, 0, 0), 0 64px 128px rgba(0, 0, 0, 0), 0 120px 0 rgba(0, 0, 0, 0), 0 86px 8px 6px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 30px;
    padding: 20px;
    position: relative;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    width: 30px;
}

.footerlink:hover {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.1),
        0 6px 8px rgba(0, 0, 0, 0.05),
        0 24px 24px rgba(0, 0, 0, 0.05),
        0 36px 36px rgba(0, 0, 0, 0.05),
        0 64px 64px rgba(0, 0, 0, 0.15),
        0 64px 128px rgba(0, 0, 0, 0.15),
        0 86px 8px 6px rgba(14, 186, 199, 0.25),
        0 83px 4px 0px rgba(14, 186, 199, 0.95);
}

/****************************************/
/************** BODY PART **************/
.main-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 0px;
    padding: 10px;
    height: 100%;
    margin: 10px 10px 10px 10px;
}

.standardized-data,
.normal-data,
.mixedTest,
.cleanTest{
    padding: 20px;
    height: auto;
    margin: 0.5px;
    box-shadow: 4px 8px 10px -3px rgba(0, 0, 0, 0.356);
    text-align: center;
    color: rgb(0, 0, 0);
    border: 2px solid #5ee1ff;
    border-radius: 0%;
    background-color: transparent;
}

/**************** FIRST DIV *******************/
.describe {
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    box-shadow: 4px 8px 10px -3px rgba(0, 0, 0, 0.356);
    text-align: left;
    color: rgb(0, 0, 0);
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 1;
    width: auto;
    height: 480px;
    background-color: #81dcf1;
    margin: 10px 300px 10px 300px;
}

.description {
    font-style: italic;
}

.desc {
    font-weight: bold;
    font-style: italic;
}

/**********************************************/
.normal-data {
    grid-row: span 7 / span 7;
    grid-column-start: 2;
    grid-row-start: 2;
    width: auto;
}

.mixedTest,
.cleanTest {
    color: #5ee1ff;
    font-weight: lighter;
    font-size: 25px;
    font-variant: small-caps;
    border: 6px double #5ee1ff;
    margin-bottom: 20px;
}

.standardized-data {
    grid-row: span 7 / span 7;
    grid-column-start: 1;
    grid-row-start: 2;
    width: auto;
}

.title {
    color: white;
    font-weight: bold;
    font-size: 30px;
}
.label{
    font-weight: bold;
    font-size: 20px;
    font-variant: small-caps;
    background: -webkit-linear-gradient(#5ee1ff, #468dff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}